<a href="https://colab.research.google.com/github/Nancy-Velazquez/AluraStoreLatam/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

## **Exploración inicial de los datos**

Exploración de la tienda 1

In [3]:
tienda.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
427,Mesa de centro,Muebles,194100.0,10700.0,02/01/2022,Rafael Acosta,Medellín,5,Nequi,1,6.25184,-75.56359
646,Asistente virtual,Electrónicos,206400.0,11700.0,12/07/2021,Maria Alfonso,Cali,5,Nequi,1,3.43722,-76.52250
1447,Bicicleta,Deportes y diversión,573300.0,31000.0,25/02/2022,Lucas Olivera,Bogotá,5,Tarjeta de crédito,2,4.60971,-74.08175
1391,Muñeca bebé,Juguetes,44000.0,2700.0,03/04/2021,Izabela de León,Medellín,5,Tarjeta de crédito,3,6.25184,-75.56359
1744,Sillón,Muebles,290200.0,15800.0,22/08/2022,Izabela de León,Bucaramanga,5,Cupón,1,7.12539,-73.11980

In [4]:
tienda.shape

(2359, 12)

In [5]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Exploración de la tienda 2

In [6]:
tienda2.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
728,Iphone 15,Electrónicos,1868700.0,101900.0,11/01/2022,Juan Fernandez,Pasto,5,Tarjeta de crédito,3,1.21361,-77.28111
672,Dashboards con Power BI,Libros,34600.0,0.0,06/02/2022,Maria Alfonso,Bucaramanga,5,Tarjeta de crédito,1,7.12539,-73.11980
942,Cuerda para saltar,Deportes y diversión,13500.0,900.0,26/04/2021,Lucas Olivera,Cartagena,3,Tarjeta de crédito,8,10.39972,-75.51444
461,Mesa de comedor,Muebles,227700.0,12800.0,02/01/2023,Felipe Santos,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
1251,Refrigerador,Electrodomésticos,2185600.0,114600.0,07/12/2020,Juliana Costa,Bogotá,5,Tarjeta de crédito,2,4.60971,-74.08175

In [7]:
tienda2.shape

(2359, 12)

In [8]:
tienda2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Exploración de la tienda 3

In [10]:
tienda3.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
74,Cuerda para saltar,Deportes y diversión,7900.0,0.0,28/02/2023,Rafael Acosta,Bogotá,2,Tarjeta de crédito,3,4.60971,-74.08175
1552,Cama king,Muebles,823400.0,49900.0,30/11/2020,Santiago Silva,Bogotá,3,Tarjeta de débito,1,4.60971,-74.08175
2086,Asistente virtual,Electrónicos,115500.0,6500.0,28/08/2021,Juliana Costa,Barranquilla,4,Nequi,1,10.96854,-74.78132
2052,Ciencia de datos con Python,Libros,49300.0,6000.0,03/08/2021,Ángel Rodriguez,Medellín,5,Tarjeta de crédito,10,6.25184,-75.56359
75,Estufa,Electrodomésticos,484500.0,26000.0,28/11/2021,Juliana Costa,Bogotá,4,Tarjeta de crédito,1,4.60971,-74.08175

In [11]:
tienda3.shape

(2359, 12)

In [12]:
tienda3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Exploración de la tienda 4

In [13]:
tienda4.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
2253,Dashboards con Power BI,Libros,28500.0,7200.0,17/05/2022,Camila Rivera,Bogotá,1,Tarjeta de crédito,10,4.60971,-74.08175
848,Cubertería,Artículos para el hogar,59900.0,3400.0,08/07/2022,Santiago Silva,Bogotá,4,Tarjeta de crédito,5,4.60971,-74.08175
1020,Sofá reclinable,Muebles,748500.0,40300.0,21/03/2021,Pedro Gomez,Pereira,1,Tarjeta de crédito,1,4.81333,-75.69611
768,Set de ollas,Artículos para el hogar,92200.0,5300.0,24/08/2022,Izabela de León,Medellín,2,Tarjeta de crédito,1,6.25184,-75.56359
726,Dashboards con Power BI,Libros,36900.0,0.0,23/09/2020,Ángel Rodriguez,Bogotá,5,Tarjeta de crédito,2,4.60971,-74.08175

In [14]:
tienda4.shape

(2358, 12)

In [15]:
tienda4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

#1. Análisis de facturación

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda